ula_bias_results/
ula_results_0/
ula_results_active/detailed_analysis/
ula_results_active/visualizations/AsymmetricPotential/
ula_results_active/visualizations/GlobalWeakPotential/
ula_results_active/visualizations/LocalWeakPotential/
ula_results_active/visualizations/OscillatingTailPotential/